version: '3'

services:
  db:
    container_name: nextcloud_db
    image: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    networks:
      - default
    volumes:
      - db:/var/lib/mysql
      - ./config/sqlcache.cnf:/etc/mysql/conf.d/sqlcache.cnf
    environment:
      - MYSQL_ROOT_PASSWORD=example
    env_file:
      - ./config/db.env

  redis:
    image: redis:alpine
    restart: always
    networks:
      - default

  onlyoffice:
    image: onlyoffice/documentserver
    restart: always
    networks:
      - default

  collabora:
    image: collabora/code
    restart: always
    networks:
      - default
    environment:
      # Escape . (i.e. simply prefix all . with \\)
      # Below is sub.example.com
      # Required for trusted access
      - domain=sub\\.example\\.com
      - username=admin
      - password=password
      # Disable if not using ssl
      - "extra_params=--o:ssl.enable=false --o:ssl.termination=true"
      # Enable if not using ssl
      # - "extra_params=--o:ssl.enable=false"

  app:
    container_name: nextcloud_app
    image: ghcr.io/alexyao2015/nextcloud
    restart: always
    networks:
      - default
    volumes:
      - nextcloud:/var/www/html
      - ./config/memory-limit.ini:/usr/local/etc/php/conf.d/memory-limit.ini
      - ./config/www.conf:/usr/local/etc/php-fpm.d/www.conf
    environment:
      - MYSQL_HOST=db
      - REDIS_HOST=redis
    env_file:
      - ./config/db.env
    depends_on:
      - db
      - redis
      - onlyoffice
      - collabora

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    networks:
      - default
    ports:
      - 8081:80
    depends_on:
      - db

  web:
    image: nginx:alpine
    restart: always
    networks:
      - default
    ports:
      - 8080:80
    volumes:
      - nextcloud:/var/www/html:ro
      - ./config/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app

volumes:
  db:
  nextcloud:

networks:
  default:
